{% if current_user.is_authenticated %}
<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-5">
				<img src="{{ url_for('static',filename='user/avatar/'+current_user.avatar) }}" style="width: 80px;height: 80px;"></div>
			<div class="col-xs-7">
				<p class="user-name">{{ current_user.username }}</p>
				{% if current_user.abortme %}
				<p class="user-about">{{ current_user.abortme }}</p>
				{% endif %}
			</div>
		</div>
		<div class="row" style="margin-top: 15px;">
			<ul class="nav nav-pills nav-justified">
			<li>
				<a href="{{ url_for('main.user_index',id=current_user.id) }}"><img src="{{ url_for('static',filename='icon/home-icon.png') }}"></a> 
			</li>
			<li>
				<a href="{{ url_for('main.user_seting') }}"><img src="{{ url_for('static',filename='icon/settings-3-icon.png') }}"></a> 
			</li>
			<li>
				<a href="{{ url_for('auth.user_logout') }}"><img src="{{ url_for('static',filename='icon/close-icon.png') }}"></a> 
			</li>
			</ul>
		</div>
	</div>
	<div class="panel-footer">
		<a href="#"><p class="message" style="margin: 0px">站内消息</p></a>
	</div>
</div>
{% else %}
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">
			每日一句
		</h3>
	</div>
	<div class="panel-body">
		You raise me up,so I can stand on mountains .You raise me up,to walk on stormy seas. <br /><br />
		你激励了我故我能立足于群山之巅。你鼓舞了我,故我能行进于暴风雨的洋面。 
	</div>
</div>

{% endif %}