{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block left %}
{% if current_user.is_authenticated %}
{% include 'user/_user_index_left.html' %}
{% else %}
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">
			每日一句
		</h3>
	</div>
	<div class="panel-body">
		You raise me up,so I can stand on mountains .You raise me up,to walk on stormy seas. <br /><br />
		你激励了我故我能立足于群山之巅。你鼓舞了我,故我能行进于暴风雨的洋面。 
	</div>
</div>
{% endif %}
{% endblock %}


{% block right %}
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">
			主页界面
		</h3>
	</div>
	<div class="panel-body">
		You raise me up,so I can stand on mountains .You raise me up,to walk on stormy seas. <br /><br />
		你激励了我故我能立足于群山之巅。你鼓舞了我,故我能行进于暴风雨的洋面。 
	</div>
</div>
{% endblock %}