{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}
<title>围脖blog -- 搜索结果</title>
{% endblock %}

{% block left %}
{% include '_user_left.html' %}
{% endblock %}

{% block right %}
<div class="panel panel-default col-xs-12" style="padding-bottom: 20px;">
    <div class="panel-heading">
    	搜索结果
    </div>
	{% if posts == [] %}
	<div class="panel-body">
		<div class="alert alert-info">这里还没有任何文章哟～</div>
	</div>
	{% else %}
	<ul class="list-group">
		{% for p in posts %}
		<li class="list-group-item col-xs-12">
				<a href="{{ url_for('main.post',id=p.id) }}"><h3 class="col-xs-12"><strong>{{ p.head }}</strong></h3></a>
				<p class="list-meta col-xs-12">
					<a href="{{ url_for('main.user_index',id=User.query.filter_by(id=p.author).first().id) }}">
					<button type="button" class="btn btn-info btn-xs">
					<span class="glyphicon glyphicon-user"></span>
					作者：{{ User.query.filter_by(id=p.author).first().username }}
					</button></a>
					<a href="{{ url_for('main.topic',topic=Topic.query.filter_by(id=p.tpoic).first().topic) }}">
					<button type="button" class="btn btn-success btn-xs">
					<span class="glyphicon glyphicon-tags"></span>
					 {{ Topic.query.filter_by(id=p.tpoic).first().topic }}
					</button></a>
					<button type="button" class="btn btn-default btn-xs" id="read">
					<span class="glyphicon glyphicon-eye-open"></span> {{ p.clink }}次阅读
					</button>
					<button type="button" class="btn btn-default btn-xs" id="time">
					<span class="glyphicon glyphicon-time"></span>
						<script>
						var weekday = moment('{{ p.timestamp }}').zone(8).locale('zh-cn').format('YYYY-MM-DD HH:mm:ss'); 
						document.write(weekday);
						</script>					
					</button>
				</p>
		</li>
		{% endfor %}		
	</ul>
	{% endif %}
</div>{% endblock %}
