<div class="panel panel-default">
	<div class="panel-body">
		<table class="table table-hover">
		  	<caption>关注{{ user.username }}的人</caption>
		  	<thead>
		    	<tr>
		      		<th>关注者</th>
		      		<th>关注时间</th>
		    	</tr>
		  	</thead>
		  	<tbody>
		  	{% for f in all_follower %}
		    	<tr>
		      		<td><a href="{{ url_for('main.user_index',id=f.follower_id) }}">{{ User.query.filter_by(id=f.follower_id).first().username }}</a></td>
		      		<td>
						<script>
						var weekday = moment('{{ f.timestamp }}').locale('zh-cn').format('YYYY-MM-DD HH:mm:ss'); 
						document.write(weekday);
						</script>		      			
		      		</td>
		    	</tr>
		    {% endfor %}
		    </tbody>
		</table>
	</div>
</div>
