{% if user.is_self(current_user) %}
<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-5">
				<img src="{{ url_for('static',filename='user/avatar/'+user.avatar) }}" style="width: 80px;height: 80px;"></div>
			<div class="col-xs-7">
				<p class="user-name">{{ user.username }}</p>
				{% if user.abortme %}
				<p class="user-about">{{ user.abortme }}</p>
				{% endif %}
				<p class="user-logintime">{{ moment(user.last_seen).fromNow(refresh=True) }}
			</div>
		</div>
		<div class="row" style="margin-top: 15px;">
			<ul class="nav nav-pills" style="padding-left: 15px;">
			<li col-xs-4>
				<a href="{{ url_for('main.user_index',id=user.id) }}"><img src="{{ url_for('static',filename='icon/home-icon.png') }}" style="height: 40px;width: 40px;"></a> 
			</li>
			<li col-xs-4>
				<a href="{{ url_for('main.user_seting') }}"><img src="{{ url_for('static',filename='icon/settings-3-icon.png') }}" style="height: 40px;width: 40px;"></a> 
			</li>
			<li col-xs-4>
				<a href="{{ url_for('auth.user_logout') }}"><img src="{{ url_for('static',filename='icon/close-icon.png') }}" style="height: 40px;width: 40px;"></a> 
			</li>
			</ul>
		</div>
	</div>
	<div class="panel-footer">
		<a href="#"><p class="message" style="margin: 0px">站内消息</p></a>
	</div>
</div>
{% else %}
<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-5">
				<img src="{{ url_for('static',filename='user/avatar/'+user.avatar) }}" style="width: 80px;height: 80px;"></div>
			<div class="col-xs-7">
				<p class="user-name">{{ user.name }}</p>
				<p class="user-about">{{ user.abortme }}</p>
			</div>
		</div>
		<div class="row" style="margin-top: 15px;">
			<ul class="nav nav-pills nav-justified">
			<li><a href="{{ url_for('main.user_index',id=user.id) }}"><p><span class="glyphicon glyphicon-home">主页</span></p></a></li>
			<li>
				{% if current_user.is_authenticated and current_user.is_follow(user) %}
				<a href="{{ url_for('main.user_unfollow',id=user.id) }}">取消关注</a>
				{% else %}
				<a href="{{ url_for('main.user_follow',id=user.id) }}"><p><span class="glyphicon glyphicon-cog">关注</span></p></a> 
				{% endif %}
			</li>
			<li>
				<a href="#"><p><span class="glyphicon glyphicon-log-out	">发信</span></p></a> 
			</li>
			</ul>
		</div>
	</div>
	<div class="panel-footer">
		<a href="#"><p class="message" style="margin: 0px">站内消息</p></a>
	</div>
</div>
{% endif %}

