{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}
<title>围脖blog -- 登录</title>
<style type="text/css">
#submit {
    background-color: transparent;
    color: #fff;
}
.form-group {
    color: #000;
}
.jumbotron {
    margin-bottom: 0px;
/*    background-size: cover;
    background-image: url("{{ url_for('static', filename='back/background-image-html.jpg') }}")*/;
}
</style>
{% endblock %}

{% block inside_row %}
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning col-md-6 col-md-offset-3">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

	<!-- <div class="register-form col-md-6 col-md-offset-3">
		<h1 class="text-center" style="margin-bottom:1em">登录 </h1>
		{{ wtf.quick_form(form) }}
	</div> -->
        <div class="register-form col-lg-6 col-lg-offset-3">
            <h1 class="text-center" style="color: #fff;">登录 </h1>
            {{ wtf.quick_form(form) }}
        </div>           
{% endblock %}