adium-theme-ubuntu==0.3.4
attrs==15.2.0
chardet==2.3.0
cryptography==1.2.3
deluge==1.3.12
duplicity==0.7.6
ecdsa==0.13
enum34==1.1.2
genpac==2.0.1
idna==2.0
ipaddress==1.0.16
lockfile==0.12.2
mysql-connector-python==2.0.4
mysql-utilities==1.6.1
numpy==1.11.0
PAM==0.4.2
paramiko==1.16.0
pexpect==4.0.1
ptyprocess==0.5
pyasn1==0.1.9
pyasn1-modules==0.0.7
pycrypto==2.6.1
pygame===1.9.1release
pygobject==3.20.0
pyodbc==3.0.7
pyOpenSSL==0.15.1
pyserial==3.0.1
pysqlite==2.7.0
python-libtorrent==1.0.7
pyxdg==0.25
service-identity==16.0.0
six==1.10.0
Twisted==16.0.0
unity-lens-photos==1.0
zope.interface==4.1.3
