{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block navbar %}

{% endblock %}

{% block inside_row %}
<ul class="nav nav-pills col-xs-12">
  <li {% if info=="status" %} class="active" {% endif %}><a href="{{ url_for('manage.index') }}">网站动态</a></li>
  <li {% if info=="user" %} class="active dropdown" {% endif %}>
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">用户管理 <span class="caret"></span></a>
        <ul class="dropdown-menu">
        <li><a href="{{ url_for('manage.manage_user',view="n") }}">正常用户</a></li>
        <li><a href="{{ url_for('manage.manage_user',view="d") }}">屏蔽用户</a></li>
        </ul>
  </li>
  <li><a href="#">主题管理</a></li>
  <li><a href="#">文章管理</a></li>
  <li><a href="#">问题管理</a></li>
  <li><a href="#">答案管理</a></li>
  <li><a href="#">评论管理</a></li>
  <li><a href="/">退出</a></li>
</ul>

<div class="col-xs-12">
{% block row %}
{% endblock %}
</div>
{% endblock %}

