{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}
<title>围脖blog -- 新帖子</title>
<style type="text/css">
#topic {
	display: table;
}
.form-group:nth-child(4) {
	display: table;
}
#body {
	/*visibility: hidden;*/
}
</style>
{% endblock %}


{% block left %}
{% include '_user_left.html' %}
{% endblock %}

{% block right %}
<div class="panel panel-default">
	<div class="panel-heading">
	<b>新帖子</b>
	</div>
    <div class="panel-body">
    {{ wtf.quick_form(form) }}
    </div>
    <div class="panel-footer" id="div1">
	</div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="//unpkg.com/wangeditor/release/wangEditor.min.js"></script>
<script type="text/javascript">
        var E = window.wangEditor
        var editor = new E('#div1')
        var $body = $('#body')
        editor.customConfig.onchange = function (html) {
            // 监控变化，同步更新到 textarea
            $body.val(html)
        }
        editor.create()
        // 初始化 textarea 的值
        $body.val(editor.txt.html())
</script>
{% endblock %}